.doc-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 140px;

  ion-icon {
    font-size: 48px;
    color: var(--ion-color-primary);
    margin-bottom: 10px;
  }

  h2 {
    font-size: 16px;
    font-weight: 600;
  }
}
