<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-toolbar collapse="condense">
    <ion-title size="large"></ion-title>
  </ion-toolbar>

  @if (evento  == 1) {

    <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card button (click)="setOpen(true)">
          <ion-card-content class="doc-card">
            <ion-icon name="document-text-outline"></ion-icon>
            <h2>Acta</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card button (click)="setOpen(true)">
          <ion-card-content class="doc-card">
            <ion-icon name="list-outline"></ion-icon>
            <h2>Asuntos del Orden</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card button (click)="setOpen(true)">
          <ion-card-content class="doc-card">
            <ion-icon name="calendar-outline"></ion-icon>
            <h2>Orden del Día</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card button (click)="setOpen(true)">
          <ion-card-content class="doc-card">
            <ion-icon name="scale-outline"></ion-icon>
            <h2>Marco Jurídico</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
    
  } @else if (evento == 2) {
   
    <div class="ion-text-center ion-padding">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Registro de Asistencia</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-button expand="block" color="success" (click)="registrarAsistencia()">
            Asistencia
          </ion-button>
        </ion-card-content>
      </ion-card>
  </div>

  } @else if (evento == 3){
   
    <div *ngIf="evento === 3" class="ion-text-center ion-padding">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Votación</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-button expand="block" color="success" (click)="votar('FAVOR')">
            A Favor
          </ion-button>

          <ion-button expand="block" color="danger" (click)="votar('CONTRA')">
            En Contra
          </ion-button>

          <ion-button expand="block" color="warning" (click)="votar('ABSTENCION')">
            Abstención
          </ion-button>

           <ion-button expand="block" color="medium" (click)="votar('SIN REGISTRO')">
            S/R
          </ion-button>
        </ion-card-content>
      </ion-card>
    </div>

  } @else {

    <div  class="ion-text-center ion-padding">
      <ion-text color="medium">
        No hay evento activo en este momento
      </ion-text>
    </div>
  }
  

  <!-- MODAL -->
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Documento</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <iframe
          [src]="pdfUrl"
          style="width: 100%; height: 100%; border: none;">
        </iframe>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
