<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="inicio">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sesiones">
      <ion-icon name="library-outline"></ion-icon>
      <ion-label>Sesión</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="comisiones">
      <ion-icon name="people-circle-outline"></ion-icon>
      <ion-label>Comisiones</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
